# Add any directories, files, or patterns you don't want to be tracked by version control
npm-debug.log
.vscode
node_modules
node/**.js
node/**.js.map
node/**/*.js
node/**/*.js.map
!node/web/js/lib/**