# Add any directories, files, or patterns you don't want to be tracked by version control
npm-debug.log
.vscode
node_modules
*.js 
*.js.map
src/**.js
src/**.js.map
src/**/*.js
src/**/*.js.map
!src/web/js/lib/**
!src/web/js/app/config.js