<div >
    <div >
        <!-- QUESTIONS --> 
        <div >
            <div class="card card-question">Question</div>

            <div id="content-message">
                <ul id="messages" >
                    <!--<li *ngFor="let planet of planets">{{planet}}</li>-->
                </ul>

                <div id="input-message">
                    <input id="m" />
                    <button (click)="submit()">Send</button>
                </div>
            </div>

        </div>

        <br /> 

        <!-- REPONSE -->
        <div>
            <div class="card card-reponse">Awnser</div>
        </div>
    </div>


</div>